:root {
  line-height: 1.5;
  font-size: 20px;
  font-family: "Open Sans", sans-serif;

  color-scheme: light dark;

  background-color: hsl(0, 0%, 18%);
  color: #191414;
  background-attachment: fixed;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #1db954;
  min-height: 100vh;
}

a {
  color: inherit;
}

#item-lists {
  display: flex;
  flex-direction: column;
}

.album-image {
  display: block;
  margin: 0;
}

.artist > div:first-child {
  width: 300px;
  height: 300px;
  overflow: hidden;
  border-radius: 50%;
  display: flex;
  justify-content: center;
}

.artist-image {
  margin: 0;
  object-fit: cover;
  width: 100%;
}
