:root {
  line-height: 1.5;
  font-size: 20px;
  font-family: sans-serif;

  color-scheme: light dark;

  background-color: #1db954;
  /* background-color: #191414; */
  color: #191414;
  /* color: #1db954; */
  background-attachment: fixed;
}

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  /* background-color: #1db954; */
  min-height: 100vh;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

main {
  max-width: 1280px;
  margin: 0 auto;
}

h1 {
  font-size: 3rem;
  margin: 1.5rem 0;
}

h2 {
  font-size: 2rem;
  margin: 1rem 0;
}

h3 {
  font-size: 1.5rem;
  margin: 0.5rem 0;
}

#results-nav a {
  padding: 0.5rem;
  border-radius: 0.25rem;
  transition: background-color 150ms ease-in-out, color 300ms ease-in-out;
}

#results-nav a.active {
  background-color: #191414;
  color: white;
}

#tracks-list > ol li {
  padding: 1rem 0;
  border-bottom: 2px solid hsla(0, 11.1%, 8.8%, 0.15);
}

#tracks-list > ol li:last-child {
  border-bottom-color: transparent;
}

#search-page {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#search-page form {
  margin-top: 15rem;
}

#search-page form input {
  font-size: 2rem;
  padding: 0.5rem;
  border: none;
  border-radius: 0.25rem;
  outline: none;
  color: white;
  width: 30rem;
  background-color: hsla(0, 11.1%, 8.8%, 0.15);
  background-color: transparent;
  transition: background-color 150ms ease-in-out, scale 75ms ease-in-out;
}

#search-page form input:focus {
  background-color: hsla(0, 11.1%, 8.8%, 0.15);
  transform: scale(1.05);
}

#search-page form input::placeholder {
  color: hsla(0, 11.1%, 8.8%, 0.25);
  transition: color 175ms ease-in-out;
}

#search-page form input:focus::placeholder {
  color: hsla(0, 11.1%, 8.8%, 0.1);
}

#search-page form button {
  font-size: 2rem;
  padding: 0.5rem;
  margin-left: 1rem;
  border: none;
  border-radius: 0.25rem;
  outline: none;
  background-color: transparent;
  cursor: pointer;
  color: #191414;
  transition: color 150ms ease-in-out, opacity 150ms ease-in-out;
}

#search-page form button:disabled {
  pointer-events: none;
  opacity: 0.1;
}

#search-page form button:focus {
  color: white;
}

#results-nav ul {
  display: flex;
  flex-direction: row;
  justify-content: left;
  list-style: none;
  margin: 2rem 0;
  padding: 0;
}

#results-nav ul li {
  margin: 0 1rem;
  font-size: 1.5rem;
}

#results-nav ul li:first-child {
  margin-left: 0;
}

.italic {
  font-style: italic;
}

.album-image {
  display: block;
  margin: 0;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.08), 0 2px 2px rgba(0, 0, 0, 0.12), 0 4px 4px rgba(0, 0, 0, 0.16), 0 8px 8px rgba(0, 0, 0, 0.2);
  object-fit: cover;
}

.album-image.small {
  width: 125px;
  height: 125px;
}

.track-item .album-image {
  transition: transform 150ms ease-in-out;
}

#tracks-list > ol li:hover .track-item .album-image {
  transform: scale(1.075);
}

.track-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0.5rem;
  border-radius: 0.25rem;
  transition: background-color 75ms ease-in-out, transform 150ms ease-in-out;
}

#tracks-list > ol li:hover .track-item {
  background-color: hsla(0, 11.1%, 100%, 0.15);
  transform: scale(1.025);
}

.track-info {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin-left: 1rem;
}

.track-info h3 {
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
}

.track-info p {
  margin: 0.25rem 0;
}

.artist-item {
  width: 300px;
  height: 300px;
  overflow: hidden;
  border-radius: 50%;
  display: flex;
  justify-content: center;
}

.artist-image {
  margin: 0;
  object-fit: cover;
  width: 100%;
}

.list-image {
  margin: 0.5rem;
}

.dim {
  opacity: 0.6;
}

.track-title-tags {
  display: inline-block;
  margin-left: 0.5rem;
  font-size: 1rem;
  padding: 0.25rem 0.5rem;
  background-color: hsla(0, 11.1%, 8.8%, 0.35);
  color: white;
  border-radius: 0.25rem;
}

.item-list:not(#tracks-list) > ol {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  justify-content: center;
}
